<h1 style="text-align:center">Productos desde realTimeProducts</h1>
<section class="container">
  <table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Code</th>
          <th scope="col">Stock</th>
          <th scope="col">Status</th>
          <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody id="container">
    </tbody>
  </table>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>