<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="well well-sm">
                <form id="registerForm" class="form-horizontal mt-5" >
                    <fieldset>
                        <legend class="p-3 mb-2 bg-primary text-white">Registro</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nombre</label>
                                <input name="first_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Apellido</label>
                                <input name="last_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Email</label>
                                <input name="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Edad</label>
                                <input name="age" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Contraseña</label>
                                <input name="password" type="password" class="form-control">
                            </div>
                        </div>
                        {{#if this.err}}
                            <br/>
                            <p id="errorMessage" class="col-md-12 text-danger mt-3">{{this.err}}</p>
                        {{/if}}
                        <div class="form-group">
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br/>
                <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/register.js"></script>